# Environment & Secrets
.env

# Databases & Logs
*.db
*.log
app.log
test.db

# Virtual Environment & Python Caches
.venv/
venv/
__pycache__/
*.pyc

# Testing & Coverage Output
.coverage
.pytest_cache/
htmlcov/.venv/ 
*.db 
*.log